
svg .axis {
  stroke: none;
  fill: black;
}

svg.axis text {
  font-family: sans;
  font-size: 11px;
}

svg .point {
  stroke: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  spake-rendering: crispEdges;
}

svg {
  border: 2px black solid;
}

span .dropdown {
  margin: 0px 30px;
}
