
svg .axis {
  stroke: none;
  fill: black;
}

svg.axis text {
  font-family: sans;
  font-size: 11px;
}

svg .point {
  stroke: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  spake-rendering: crispEdges;
}

div.axis.select {
  background-color: gray;
  padding-top: 25px;
  height: 50px;
  border-radius: 4px;
}

div.axis.select span {
  margin: 45px;
}


span .dropdown {
  margin: 0px 30px;
  border-radius: 3px;
  border: none;
}
