<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ultracapacitors</title>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/base.js"></script>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <div class='header'>
      <div class="container">
	<a href="/home/"><h1>Ultracapacitors</h1></a>
	<h2> {% block title %} No Title {% endblock %} </h2>
      </div>
      <div class="navbar">
	<div class="container">
	  <div class="spacer"></div>
	  <a class="navitem"
	     {% if place == 'home' %}id="active"{% endif %}
	     href="/home/">Intro</a>
	  <a class="navitem"
	     {% if place == 'compare' %}id="active"{% endif %}
	     href="/compare/">See the Breakdown</a>
	  <a class="navitem"
	     {% if place == 'why' %}id="active"{% endif %}
	     href="/why/">Why Graphene?</a>
	  <a class="navitem"
	     {% if place == 'how' %}id="active"{% endif %}
	     href="/how/">How it's Made</a>
	  <a class="navitem"
	     {% if place == 'works' %}id="active"{% endif %}
	     href="/works/">How it Works</a>
	  <a class="navitem"
	     {% if place == 'big_picture' %}id="active"{% endif %}
	     href="/big_picture/">The Big Picture</a>
	  <a class="navitem"
	     {% if place == 'explore' %}id="active"{% endif %}
	     href="/explore/">Explore the Data</a>
	</div>
      </div>
    </div>
    <div class="container">
      <div id="sidebar">
	{% block sidebar %}Hello, Sidebar!{% endblock %}
      </div>
      <div id="contentbox">
	{% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
