<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>D3 Test</title>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/polygon.css">
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <h1> {% block title %} No Title {% endblock %} </h1>
    {% block content %}{% endblock %}
  </body>
</html>
