{% extends 'base.html' %}

{% block sidebar %}
<h4>So what?</h4>
<p>
Graphene ultracapacitors have the capacity to fundamentally change how we thing about energy. Their combination of power output and energy storage allows them to 
</p>
{% endblock %}

{% block title %}The Big Picture{% endblock %}
{% block content %}
<h4> Big Picture </h4>

<p>
The energy storage problem is quite complex. One has to weigh a number of different factors in determining the ideal technology. Certain applications prioritize certain properties. Applications used in the power grid, for example, need to be able to deal with very high power that facilitates the use of pump storage or flywheels. As these devices are fixed, weight and volume do not play a big role. As such, energy density and power density no longer matter--only efficiency.  For other devices, such as cellphones and laptops, however, weight and volume are critical and various high energy density batteries are used.
</p>

<p>
Despite great strides for capacitors all around, their main advantage is in their power density. While this is great for some applications, it is not ideal for all. Hybrid power systems can be created coupling batteries and capacitors to allow for large energy storage as well as short, high current bursts of power. This technology is currently used in electric race cars. Other combinations can also be made to create these hybrid systems.
</p>

<p>
We feel that graphene ultracapacitors will play a rising role in modern devices in the next 10 years. Their fast charge, high energy density, and high power density will allow them to be used in consumer electronic devices. Unlike traditional batteries, these devices do not require expensive and hard to produce natural resources. As graphene production becomes more commonplace, these devices will be a cheap, ecological, and safe alternative.
</p>

{% endblock %}
