{% extends 'base.html' %}
{% block scripts %}
<script type="text/javascript" src="/static/seeData.js"></script>
<link rel="stylesheet" type="text/css" href="/static/explore.css">
{% endblock %}

{% block title %}
See the Data
{% endblock %}

{% block content %}
<div class="chart">
  <svg class="explore_data" width=100% height=550> </svg>
</div>
<div class="axis select">
  <span class="x dropdown label">
    <select class="x dropdown"> </select>
  </span>
  <span class="vs"> VS </span>
  <span class="y dropdown label">
    <select class="y dropdown"> </select>
  </span>

</div>

{% endblock %}
