{% extends 'base.html' %}

{% block title %}Energy Storage of the Future{% endblock %}

{% block sidebar %}
<h4>What is this site?</h4>
<p>
It's an analysis of ultracapacitors with a focus on how they compare to existing energy storage methods and how they can impact our future.
</p>
<p>
We recommend that you read through the site from left to right, but of course you're welcome to skip around to any section you find interesting.
</p>
{% endblock %}

{% block content %}
<p>
Humans use 143.851PWH of energy every year [<a href="http://en.wikipedia.org/wiki/File:World_energy_consumption.svg">source</a>] - The equivalent of every living human being fully discharging an average cell phone battery containing 8Wh of energy over 7,000 times a day every day for a year.  While much of that energy is or lost in transmission or used directly without being stored anywhere, significant comes from batteries, capacitors, and gas tanks. Between the years 2000 and 2008, our energy consumption rose 22% [<a href="http://www.enerdata.net/enerdatauk/press-and-publication/energy-press-releases/sluggish-growth-world-energy-demand-in-2011.php">source</a>], and it looks like it will continue to rise in the foreseeable future. As it rises, the way we use and storage of energy will need to be rethought.
</p>
<p>
Today, most portable products that require lots of energy - cars, for example - run on fossil fuels.  As fossil fuels become more and more expensive and concerns over their sustainability rise, electricity may have an opportunity to take over as the power source of choice for cars and other forms of transportation. Unfortunately, no technologies currently exist that can store electric energy as densely as gasoline stores chemical energy. While a number of modern battery technologies such as lithium-ion batteries have helped fill the need for energy-dense storage of electricity, they are unsustainable and are unsuitable for applications that require large surges of power or long life. Ultracapacitors have been used in places which require more power output and longer lifespans, but they can’t store nearly as much energy as modern batteries can. Devices that are capable of both storing large amounts of electric energy and discharging it quickly are simply not available commercially.
</p>
<p>
Many researchers have been working on graphene ultracapacitors, a type of ultracapacitor similar in principle to ones available today, but using graphene instead of activated carbon for the electrodes. These new ultracapacitors have energy densities comparable to those of modern batteries, but power densities and lifespans that match up with traditional ultracapacitors. Only recently have researchers been able to produce graphene ultracapacitors that make full use of graphene’s surface area, and research into this area is continuing to yield exciting advances in ultracapacitor technology.
</p>
{% endblock %}
