{% extends 'base.html' %}

{% block title %}Energy Storage of the Future{% endblock %}

{% block content %}
<MATH>&int;_a_^b^{f(x)<over>1+x} dx</MATH>
<p>
  Humans use 143.851PWH (2008 number from Eenergiläget in Sweden 2011 figure 49 and 53) of energy every year - The equivalent of every living human being fully discharging a cell phone battery, ~8Wh, over 7,000 times a day every day for a year.  While a huge portion of that energy is used directly without being stored anywhere or lost in transmission, __% comes from batteries, capacitors, and gas tanks. The modern move toward electric power has created a need for cheap, efficient, and reliable ways of storing that power. While a number of modern battery technologies such as lithium-ion batteries have helped fill that need, they are unsustainable and are unsuitable for applications that require surges of power. Ultracapacitors have been used in places which require more power output, but they can’t store nearly as much energy as modern batteries can. Devices that are capable of both storing large amounts of energy and discharging it quickly are simply not available commercially.
</p>
<p>
  In the lab, though, many researchers have been working on graphene ultracapacitors, a type ultracapacitor similar in principle to ones available today, but using graphene instead of activated carbon for the electrodes. These new ultracapacitors have energy densities comparable to those of modern batteries, but power densities and lifespans that are far greater. [Needs a graceful ending]
</p>
{% endblock %}
