{% extends 'base.html' %}

{% block title %}Why Graphene?{% endblock %}

{% block sidebar %}
<div class="facts"><h4>Graphene Facts</h4>
<p style="font-size:0.8em">
	Specific Surface Area:<br> 1520 m^2/g[<a href="http://www.sciencemag.org/content/335/6074/1326">source</a>]
	<br>
	Electrical Conductivity:<br>
	1738 siemens/m<br>[<a href="http://www.sciencemag.org/content/335/6074/1326">source</a>]
	<br>
	Tensile Modulus: 1 TPa [<a href="http://www.sciencemag.org/content/321/5887/385">source</a>]
	<br>
	Density: 0.77mg/m^2 [<a href="http://www.nobelprize.org/nobel_prizes/physics/laureates/2010/advanced-physicsprize2010.pdf">source</a>]
	<br>
	Absorbs ~2.3% of white light [<a href="http://prl.aps.org/abstract/PRL/v100/i11/e117401">source</a>]
</p></div>
{% endblock %}

{% block content %}
<h4> Why ultracapacitors: </h4>
    Ultracapacitors were first created in 1954 by General Electric. These capacitors, unlike traditional capacitors, had a high capacitance and its activated carbon electrodes did not wear down with use.  [<a href=http://www.google.com/patents/US2800616?printsec=abstract#v=onepage&q&f=false>source</a>]
<h4>Why graphene:</h4
<p>
Graphene is a sheet of carbon atoms a single atom thick. Although graphene’s existence has been known since 1987 [<a href="http://cat.inist.fr/?aModele=afficheN&cpsidt=7578318">source</a>], it had never been studied with much success until 2004, the year that the nobel prize in physics was awarded to Andre Geim and Konstantin Novoselov for their experimentation centered around a method for creating graphene using only graphite and scotch tape [<a href=http://www.nobelprize.org/nobel_prizes/physics/laureates/2010/>source</a>]. As the University of Manchester puts it, “ It is the thinnest material known and yet is also one of the strongest. It conducts electricity as efficiently as copper and outperforms all other materials as a conductor of heat. Graphene is almost completely transparent, yet so dense that even the smallest atom helium cannot pass through it.”
[<a href=http://www.graphene.manchester.ac.uk/>source</a>]
</p>
<p>
    Because of its ultra thin nature, graphene can be used to create very thin devices. These devices can then be stacked to form an incredibly high capacity device with minimal weight and volume. Another advantage of graphene is its amazingly high conductivity. This ensures that devices created will have a low internal resistance and have a high efficiency. Unfortunately, the technology to create large, single layers of graphene is not currently scalable enough. Current graphene capacitors uses many wrinkled sheets of graphene combined to form an electrode. This electrode benefits from a huge surface area to the electrolyte, while still being small and conductive.
</p>
{% endblock %}
