{% extends 'base.html' %}

{% block title %}Why Graphene?{% endblock %}

{% block sidebar %}
<div class="facts"><h4>Graphene Facts</h4>
<p style="font-size:0.8em">
	Specific Surface Area:<br> 1520 m^2/g[<a href="http://www.sciencemag.org/content/335/6074/1326">source</a>]
	<br>
	Electrical Conductivity:<br>
	1738 siemens/m<br>[<a href="http://www.sciencemag.org/content/335/6074/1326">source</a>]
	<br>
	Tensile Modulus: 1 TPa [<a href="http://www.sciencemag.org/content/321/5887/385">source</a>]
	<br>
	Density: 0.77mg/m^2 [<a href="http://www.nobelprize.org/nobel_prizes/physics/laureates/2010/advanced-physicsprize2010.pdf">source</a>]
	<br>
	Absorbs ~2.3% of white light [<a href="http://prl.aps.org/abstract/PRL/v100/i11/e117401">source</a>]
</p></div>
{% endblock %}

{% block content %}
<h4>Why Ultracapacitors?</h4>
    Ultracapacitors were first created in 1954 by General Electric. These capacitors have a much higher capacitance that traditional capacitors, and unlike batteries their activated carbon electrodes do not wear down with use. While these capacitors didn't have energy densities even approaching those of electrochemical batteries, their first applications were ones that required high power output in a relatively lightweight package. [<a href=http://www.google.com/patents/US2800616?printsec=abstract#v=onepage&q&f=false>source</a>]
<h4>Why Graphene?</h4
<p>
Graphene is a sheet of carbon atoms a single atom thick. Although graphene’s existence has been known since 1987 [<a href="http://cat.inist.fr/?aModele=afficheN&cpsidt=7578318">source</a>], it had never been studied with much success until 2004, the year that Andre Geim and Konstantin Novoselov published their method for creating graphene using only graphite and scotch tape [<a href=http://www.nobelprize.org/nobel_prizes/physics/laureates/2010/>source</a>], along with much experimentation they had performed with the material. As the University of Manchester puts it, “ It is the thinnest material known and yet is also one of the strongest. It conducts electricity as efficiently as copper and outperforms all other materials as a conductor of heat”[<a href=http://www.graphene.manchester.ac.uk/>source</a>]. 
</p>
<p>
  Because graphene is essentially a two dimensional material, its surface area to volume ratio is near the theoretical maximum. This means that it is incredibly useful as the electrode of an ultracapacitor, especially because many thin ultracapacitors can be stacked to form a remarkably high capacity device with minimal weight and volume. Another advantage of graphene is its amazingly high conductivity. This ensures that devices created will have a low internal resistance and, as a result, a high efficiency. Unfortunately, the technology to create large single layers of graphene is not currently scalable enough to be implemented in large scale manufacturing.
</p>
<p>
  Current graphene capacitors uses many wrinkled sheets of graphene for each electrode. This allows researches to pack lots of graphene into a single electrode without losing much of the surface area. The highest capacity ultracapacitors that have ever been created use flat, stacked sheets of graphene on a curved substrate. The curved substrate prevents the graphene from bonding with itself to form graphite, and these devices can make use of almost all the surface area of the graphene on the electrodes [<a href="http://pubs.acs.org/doi/abs/10.1021/nl102661q">source</a>].
</p>
{% endblock %}
